{% extends "global/Page.html" %}
{% load otree Sonntagsfrage %}

{% block title %}
{% endblock %}

{% block content %}
<br>
<h2> Sonntagsfrage </h2>
<hr>

{{formfield "age_question"}}

<p><b>Sind Sie für deutsche Bundestagswahlen wahlberechtigt?</b></p>
<input type="radio" name="eligibility_question" value="1" /> Yes
<br>
<input type="radio" name="eligibility_question" value="2" /> No
<br>
<br>

<p><b>Mit welchem Geschlecht identifizieren Sie sich?</b></p>
<input type="radio" name="gender" value="1" /> Male
<br>
<input type="radio" name="gender" value="2" /> Female
<br>
<input type="radio" name="gender" value="3" /> Divers
<br>
<input type="radio" name="gender" value="4" /> Prefer not to say
<br>
<br>

<p><b>Welcher Partei würden Sie ihre Zweitstimme geben, wenn am Sonntag Bundestagswahlen währen?</b></p>
<input type="radio" name="sunday_question" value="1" /> SPD
<br>
<input type="radio" name="sunday_question" value="2" /> CDU/CSU
<br>
<input type="radio" name="sunday_question" value="3" /> Grüne
<br>
<input type="radio" name="sunday_question" value="4" /> FDP
<br>
<input type="radio" name="sunday_question" value="5" /> AfD
<br>
<input type="radio" name="sunday_question" value="6" /> Linke
<br>
<input type="radio" name="sunday_question" value="7" /> Andere
<br>
<br>

{{formfield "comment"}}

<button class="otree-btn-next btn btn-primary next-button otree-next-button">
    Next
</button>

{% endblock %}